#event-card {
  border: 1px solid;
  margin: 1%;
  box-shadow: 10px 10px 12px;
}

#sign-up-button {
  text-transform: none;
  margin-left: auto;
  background-color: #0781c7;
}

@media only screen and (max-width: 600px) {
  #event-card {
    margin-top: 10px;
  }
}
