@media only screen and (min-width: 601px) {
  #create-event-form-title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media only screen and (max-width: 600px) {
  #create-event-form-title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
  }

  #save-event-button {
    border-radius: 5px;
    font-size: 30px;
    background-color: rgb(27, 101, 158);
    color: white;
    border: 1px solid;
  }
}

label {
  font-family: Arial, Helvetica, sans-serif;
}

#error-text {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}

input,
textarea {
  border-radius: 5px;
  padding: 10px;
  font-size: medium;
}

input:focus,
textarea:focus {
  background-color: lightblue;
}

#save-event-button {
  margin-left: auto;
}
