#add-admin-button {
  font-size: medium;
  background-color: #0781c7;
  color: white;
  border: 1px solid;
  border-radius: 10px;
  margin-left: auto;
  padding: 15px;
}

form {
  margin-top: 10px;
}

#admin-email-input {
  width: auto;
}
